* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url('../src/components/image/dark-background-abstract-background-network-3d-background-3840x2160-8324.png'); */
  background: linear-gradient(-45deg, #1b637e, #10215c);
	background-size: 400% 400%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  animation: gradient 15s ease infinite;
	height: 100vh;  
  color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

  /* Conteúdo principal */
  main {
    margin-top: 4rem;
    padding: 2rem;
    min-height: 100vh;
    transition: opacity 0.3s ease-in-out;
  }